@charset "UTF-8";
/* CSS Document */


body {
	background-color: #FFFFFF;
	font-family: Open Sans, serif; 
	width: 100%;
	font-size: 10;
	line-height: 1.2;

}

footer {
	
	color:white; 
	overflow: auto; 
	background-color: #333333;
}


footer p {
	
	width: 30%;
	margin: 1% 5% 1% 5%;
	float: left;
}

a {
	color: #FF8C69;
	text-decoration: none;
}

img { 
	width: 100%;
}

.menu           { 
	margin: 5%;
			
}
.largeWindow 	{ 
	
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	overflow: auto;
	margin-bottom: 5%;
	
}

.mediumWindow 	{ 
	
	background-color: #EBEBEB;
	margin-bottom: 5%;
	width: 100%;
	overflow: auto;

		/* use overflow auto here to prevent floting elements from "escaping" */
			}
.smallWindowLeft { 
	
	background-color: #EBEBEB;
	margin-right: 5%;
	margin-bottom: 5%;
	width: 30%;
	float: left;
	overflow: auto;
		  
			}

.smallWindowMiddle  { 
	
	background-color: #EBEBEB;
	margin-bottom: 5%;
	width: 30%;
	float: left;
	overflow: auto;
		  
			}
			
.smallWindowRight	{ 
	
	background-color: #EBEBEB;
	margin-left: 5%;
	margin-bottom: 5%;
	width: 30%;
	float: right;
	overflow: auto;
		  
			}

.smallWindowWrapper	{ 
	
	background-color: #EBEBEB;
	margin: auto;
	max-width: 1080px;
		  
			}

.largeText {
	
	background-color: #EBEBEB;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 60%;
	overflow: hidden;
	text-align:center;
 }

.largeText p {
	
    display: inline-block;
    text-align: left;
}

.mediumText { 
	
	width: 40%;
	float:left;
	overflow: hidden;
	margin:5%;
		  
}

.smallText {
	
	width: 90%;
	float:left;
	overflow: hidden;
	margin:5%;
	
}

@media screen and (max-width:1100px) {
	
	.mediumText{
		width: 48%;
		float:left;
		overflow: hidden;
		margin:1%;
	}

	
	
}

@media screen and (max-width:950px) {
	

	#peder, #project, #environment, #history, #salmonskin {

		width: 100%;
		overflow: auto;


	}

	.mediumText{
		
		width: 80%;
		float:left;
		overflow: auto;
		margin:5%;
	}
	
	
}

.largeImage {
	padding: 0;


}

.mediumImage {
	width: 50%;
	float:left;
	overflow: hidden;
	padding: 0;


}

#history:hover {
	opacity: 0.5;
}

#environment:hover {
	opacity: 0.5;
}

.smallImage{
	float: top;
	width: 100%;
	transition: 0.3s;
}

/* Set width = image width */
#image-slider-container{ 
	position: relative;
	width: 1080px;
	overflow: hidden; 
	margin: auto;
	z-index: -1;

}

#image_slider{
	position: relative;
	overflow: hidden;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}
.imgbtn {
    width: 25px;
    height: 52px;
    color: white ;
    background-color: Transparent;
    border: none;
    outline:none;
    font-size: 3em;
    z-index: 1;
    position: relative; 
    bottom: 70px; 
    left: 50%; 
}

/* text align here to center buttons */
#button {text-align: center;}


.smallImage:hover {
	opacity:0.7;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	position: relative;
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#modalImage {
	position: relative;
	width: 100%;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,.caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}


.close{
	position: absolute;
	top: 15px;
	right: 35px;
	color: rgb(241,241,241);
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.right{
	position: absolute;
	top: 40%;
	right: 2%;
	color: rgb(241,241,241);
	font-size: 45px;
	font-weight: bold;
	transition: 0.3s;
}

.left{
	position: absolute;
	top: 40%;
	left: 2%;
	color: rgb(241,241,241);
	font-size: 45px;
	font-weight: bold;
	transition: 0.3s;
}

.close:

, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.right:hover, .right:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.left:hover, .left:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/*faq*/
button {
    background-color: #EBEBEB;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100%;
    outline:none;
}
